# .gitignore

# Ambiente virtuale
venv/

# Database SQLite
db.sqlite3

# Cache di Python
__pycache__/
*.pyc

# Segreti
.env

# File di VS Code
.vscode/

# Immagini di test o temporanee (opzionale ma consigliato)
*.jpg
*.jpeg
*.png